/** @format */

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

* {
	margin: 0;
	padding: 0;
}

/*  chatting  message styling */
.chat__message {
	background: rgba(18, 140, 126, 0.9);
	font-size: 16px;
	padding: 10px;
	font-weight: bold;
	border-radius: 10px;
	width: fit-content;
	margin-bottom: 30px;
	position: relative;
	color: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.chat__name {
	position: absolute;
	top: -18px;
	color: black;
	font-weight: 800;
	font-size: xx-small;
}

.chat__timestamp {
	margin-left: 10px;
	font-size: xx-small;
}

.chat__receiver {
	background: rgba(37, 211, 102, 0.9);
	margin-left: auto;
	color: white;
}
